//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

// Browns & Gray
// -------------------------

@white:                 #FFFFFF;
@black:                 #000000;
@linkGray:              #5A5959;
@brown:                 #685642;



// Greens
// -------------------------
@lightGreen:            #B7C68B;  


// Typography
// -------------------------

@font-family-sans-serif:        "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@font-family-serif:             Georgia, "Times New Roman", Times, serif;
